.search-input{
    background-color: rgb(39, 29, 29);
    padding: 15px 0;
}
.search-input .input-size{
    width: 70%;
}
.shop-container{
    display: flex;
}
.product-container{
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgray;
}
